@model SoftBottin.Models.Shoes.cShoeType
@{
    ViewBag.Title = "Zapatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> lsShoesTypes = ViewBag.lsShoesTypes;
}

<style>
    h2 {
        text-align: center;
        margin: 30px 0;
    }

    .demo-card {
        width: 100%;
        max-width: 500px;
        margin: 0 auto 100px;
    }

    h4.title {
        text-align: center;
    }
</style>


<section class="app-tipos-zapatos">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <h1 class="display-4">Administración de zapatos:</h1>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 app-tipos-zapatos-botones">
                        @Html.ActionLink("Crear Zapato", "CrearZapato", "Shoes", new { }, new { @class = "btn btn-primary btn-lg btn-block" })
                    </div>
                    <br />
                    <br />
                    <br />
                    @Html.DropDownListFor(mdl => mdl.iId, lsShoesTypes, "Seleccione un Tipo de Zapato", new { @class = "form-control", id = "lsShoesTypes" })
                </div>
            </div>
        </div>
    </div>
</section>
<section id="editShoeType" style="display: none;">
    <div class="container" id="containerShoes">
    </div>
</section>

<script type="text/javascript">

    $("#lsShoesTypes").change(function () {

        $.ajax({
            url: window.rootUrl + 'Shoes/AjaxHandlerZapatos',
            type: 'GET',
            data: { iIdShoeType: +$("#lsShoesTypes").val() },
            contentType: 'application/json',
            success: function (data) {
                if (data != null) {
                    var json = $.parseJSON(data);

                    var htmlFinal = "";

                    jQuery.each(json, function (i, val) {
                        htmlFinal = htmlFinal + '<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">' +
                               '<h2 class="display-1">' + val.sTypeDescription + '</h2>' +
                               '<h4 class="title">' + val.sNameProduct + '</h4>' +
                               '<div class="demo-card">' +
                               '<div class="card">' +
                               '<div class="card-header">' +
                               'Foto' +
                               '</div>' +
                               '<img class="card-img-top img-responsive" src="http://www.zapatoria.com/es/img2/2011/11/pb097850-14126.JPG">' +
                               '<div class="card-block">' +
                               '<h4 class="card-title">Talla: ' + val.sSize + '</h4>' +
                               '<h6 class="card-subtitle text-muted">Color:' + val.sColorDescription + '</h6>' +
                               '<p class="card-text">' + val.sDescriptionProduct + '</p>' +
                               '<ul class="list-group list-group-flush">' +
                               '<li class="list-group-item">En existencia:' + val.sQuantityExisting + '</li>' +
                               '<li class="list-group-item">Vendidos:' + val.sQuantitySold + '</li>' +
                               '<li class="list-group-item">Precio:' + val.sSalePrice + '</li>' +
                               '</ul>' +
                               '</div>' +
                                '<div class="card-block">' +
                                '<a href="#" class="btn btn-primary btn-block">Editar</a>' +
                                '<a href="#" class="btn btn-danger btn-block">Dar de baja</a>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                    });
                    if (htmlFinal == "") {
                        htmlFinal = "Sin datos";
                    }
                    $("#containerShoes").html(htmlFinal);

                }
            },
            error: function (dataError) {
                alert(dataError);
            }
        });


        $("#editShoeType").show();
    });

</script>
