<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoftBottinBD.Properties.Settings.ZapaTakeConnectionString"
            connectionString="Data Source=167.0.224.13;Initial Catalog=ZapaTake;User ID=dlromeroa;Password=A1013643035*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>