<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoftBottinBD.Properties.Settings.ZapaTakeConnectionString"
            connectionString="Data Source=SCITECH01-PC;Initial Catalog=ZapaTake;User ID=dlromeroa;Password=Local123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>