@model  SoftBottin.Models.cmProductDetail
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}


<style>
    /*set a border on the images to prevent shifting*/
    #gallery_01 img {
        border: 2px solid white;
    }
    /*Change the colour*/

    .active img {
        border: 2px solid #333 !important;
    }
</style>

<div class="container" style="margin-top:5%">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1>
                @Model.sProductName
                {{$scope.sProductReference}}
            </h1>
            @{
                string sPathImages = Url.Content("~/Content/Images/");
            }

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img id="zoom_03" class="img-responsive img-thumbnail" src='@sPathImages@Model.sPathImageSmall1' data-zoom-image='@sPathImages@Model.sPathImageLarge1' />
            </div>
            <div id="gallery_01">
                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                    <a href="#" data-image='@sPathImages@Model.sPathImageSmall1' data-zoom-image='@sPathImages@Model.sPathImageLarge1'>
                        <img class="img-responsive img-thumbnail" id="img_01" src="@sPathImages@Model.sPathImageSmall1" />
                    </a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                    <a href="#" data-image='@sPathImages@Model.sPathImageSmall2' data-zoom-image='@sPathImages@Model.sPathImageLarge2'>
                        <img class="img-responsive img-thumbnail" id="img_01" src='@sPathImages@Model.sPathImageSmall2' />
                    </a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                    <a href="#" data-image="@sPathImages@Model.sPathImageSmall3" data-zoom-image="@sPathImages@Model.sPathImageSmall3">
                        <img class="img-responsive img-thumbnail" id="img_01" src="@sPathImages@Model.sPathImageSmall3" />
                    </a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                    <a href="#" data-image="@sPathImages@Model.sPathImageSmall4" data-zoom-image="@sPathImages@Model.sPathImageSmall4">
                        <img class="img-responsive img-thumbnail" id="img_01" src="@sPathImages@Model.sPathImageSmall4" />
                    </a>
                </div>
            </div>

            @*<img id="zoom_09" src="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image1.png" data-zoom-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image1.jpg" />
                <select id="select">
                    <option value="1">Front</option>
                    <option value="2">Back</option>
                    <option value="3">Scenery</option>
                    <option value="4">Side</option>
                </select>*@

            @*<img id="zoom_01" src="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image1.png" data-zoom-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image1.jpg" />*@
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <h1>
                Descripción
            </h1>
            <p>
                @Model.sDescription
            </p>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <p>
                    Color:
                </p>
                <p>
                    @Html.DropDownListFor(x => x.sColorSelect, Model.slColors)
                </p>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <p>
                    Talla:
                </p>
                <p>
                    @Html.DropDownListFor(x => x.sSizeSelect, Model.slSizes)
                </p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>
                    Precio:  $@Model.fPrice
                </h1>
                <span class=" glyphicon glyphicon-shopping-cart app-glyphicon2" onclick="addProductToShoppingCart('553046', 'Tacón Charol Rosa', '150000', 'black', '35')">
                    Agregar
                </span>

                <span class=" glyphicon glyphicon-gift app-glyphicon2" onclick="addProductToShoppingCart('553046', 'Tacón Charol Rosa', '150000', 'black', '35')">
                    Comprar
                </span>
            </div>

        </div>

    </div>
</div>
