
<div ng-controller="ShoppingCartCtrl">

    <div class="container" style="padding-top:3em;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Talla</th>
                            <th>Cantidad</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="actividad in shoe">
                            <td>{{actividad.name}}</td>
                            <td>{{actividad.size}}</td>
                            <td>{{actividad.quantity}}</td>
                            <td>{{actividad.description}}</td>
                            <td>${{actividad.price | number:2}}</td>
                        </tr>
                        <tr>
                            <td>Total </td>
                            <td>&nbsp;</td>
                            <td scope="row">{{getTotalShopping()}}</td>
                            <td>&nbsp;</td>
                            <td scope="row">${{getTotal() | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block">
                    <div class="pull-right right" style="padding:3em">
                        <strong>
                            Total: ${{getTotal() | number:2}}
                        </strong>
                        <a href="#CheckOut">
                            <span class="glyphicon glyphicon glyphicon-saved app-glyphicon2 add-to-cart">
                                VERIFICAR
                            </span>
                        </a>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
