
<div ng-controller="ShoppingCartCtrl">
    <ul>
        <li ng-repeat="actividad in shoe">


            {{actividad.name}}
            {{actividad.size}}
            {{actividad.quantity}}
            {{actividad.description}}
            {{actividad.price}}


        </li>
    </ul>

</div>
